/*Variables*/
:root {
    --bg-1: linear-gradient(#9198e5, #db32e0);
    --bg-1-rev: linear-gradient(#db32e0, #9198e5);
    --cta: linear-gradient(to left,#4956dd, #86108a);
    --dark-purp: #6e0672;
    --hover-white: #ffffff;
    --light-purp: #e104e9;
    --grey-blue: #9198e5;
    --light-blue: #4956dd;
    --grey: #ccc;
    --black: #000;
    --faded-grey-green:  rgba(32, 65, 32,0.55);
}

/*Resets*/
* {
    box-sizing: border-box;
}

    body {
        font-family: 'Montserrat', sans-serif;
        margin: 0;
    }

/*FIRST SECTION*/
#intro {
    background: linear-gradient(to top, rgba(80,68,18,0.5) 10%, transparent),
    url("images/brain.jpeg") center/cover no-repeat border-box;
    width: 100%;
    height: 35vh;
    padding: 0.625rem;
    position:relative;
}

#intro h1 {
    color: var(--dark-purp);
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 5%;
    left: 3%;
    font-size: 1.6rem;
}

/*FIRST SECTION MEDIA QUERIES*/
@media (min-width:40rem) and (min-height:40rem) {
    #intro {
        height: 60vh;
        background-position: 10% 55%;
    }
    #intro h1 {
        font-size: 2.5rem;
    }
}

@media (max-width: 22.5rem) {
    #intro h1 {
        font-size: 1.2rem;
    }
}

/*SECOND SECTION*/
.section-title {
    color: var(--light-purp);
    text-align: center;
}

.plan {
    background: var(--grey-blue);
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width:100%;
}

.plan--highlighted {
    background: var(--light-blue);
    color: white;
}

.plan__annotation {
    background: white;
    color: var(--light-purp);
    padding: 0.5rem;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
    border-radius: 8px;
}

.plan__title {
    color: var(--light-purp);
}

.plan__price {
    color: var(--grey);
}

.plan--highlighted .plan__price {
    color: var(--grey);
}

.plan--highlighted .plan__title {
    color: var(--hover-white);
}

.plan__features {
    list-style: none;
    margin:0;
    padding:0

}

.plan__feature {
    margin: 0.5rem 0;
}

/*SECTION 2 MEDIA QUERIES*/
@media (min-width: 40rem) {
    .plans {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:0;
    }

    .plan {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30%;
        min-width: 13rem;
        max-width: 25rem;
        height: 28rem;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5);
        height: 30rem;
        z-index: 1;
    }

    .plan h3, .plan h2, .plan h1 {
        margin: 0.1rem;
    }
}

/*THIRD SECTION*/
#key-features {
    background: var(--bg-1-rev);
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color:var(--hover-white);
    margin: 2rem;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;    
}

.key-feature {
    width: 100%;
}

.key-feature__image {
    background: var(--hover-white);
    width: 128px;
    height: 128px;
    border: 2px solid var(--dark-purp);
    border-radius: 50%;
    margin: auto;
    padding: 1.75rem;
}

.key-feature__text {
    text-align: center;
    font-weight: bold;
    color: var(--dark-purp);
    font-size: 1.25rem;
}

/*SECTION 3 MEDIA QUERIES*/
@media (min-width:40rem) {
    .key-features__list {
        display: flex;
        justify-content: center;
    }
    .key-feature {
        width: 30%;
        max-width: 25rem;
    }
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    opacity: 0;
    transform: translateY(-100%);
    transition: opacity 200ms ease-out, transform 500ms ease-out;
    z-index: 200;
    top: 20%;
    left: 30%;
    width: 40%;
    background: var(--hover-white);
    padding: 1rem;
    border: 1px solid var(--grey);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
}

.modal__actions {
    text-align: center;
}

.modal__action {
    border: 1px solid var(--light-purp);
    background: var(--light-purp);
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
    background: var(--dark-purp);
    border-color: var(--dark-purp);
}

.modal__action--negative {
    background: var(--light-blue);
    border-color: var(--light-blue);
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: var(--grey-blue);
    border-color: var(--grey-blue);
}