/*importing fonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&family=Roboto:ital,wght@0,400;0,900;1,100;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:wght@400;700&display=swap');

/*Variables*/
:root {
    --bg-1: linear-gradient(#9198e5, #db32e0);
    --cta: linear-gradient(to left,#4956dd, #86108a);
    --dark-purp: #6e0672;
    --hover-white: #ffffff;
    --light-purp: #e104e9;
    --grey: #ccc;
    --black: #000;
}

/*Resets*/
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding-top: 3.5rem;
}

@supports (display: grid) {
    body {
        display: grid;
        grid-template-rows: 3.5rem auto fit-content(8rem);
        grid-template-areas: "header"
                             "main"
                             "footer";
        padding-top: 0;
        height: 100%;
    }
}

/*Transparent backdrop*/
.backdrop {
    display: none;
    position: fixed;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: opacity 500ms linear;
}

main {
    grid-area: main;
    animation: transitionIn 1s;
}

/*Navbar*/
.main-header {
    background: var(--bg-1);
    position: fixed;
    width: 100%;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    z-index: 2;
    top: 0;
    left: 0;
    height: 3.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/*Navbar logo*/
.main-header__brand {
    color: var(--dark-purp);
    text-decoration: none;
    font-weight: bold;
}

.main-header__brand img {
    height: 2rem;
    vertical-align: middle;
}
.main-header__brand img:hover {
    transform:scale(1.1);
}

.main-header__brand:hover {
    color: var(--hover-white);
}

/* toggle button */
.toggle-button {
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
}

.toggle-button:focus {
    outline:none;
}

.toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    background: var(--black);
    display: block;
    margin: 0.6rem 0;
}

/*Nav links*/
.main-nav {
    display: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.main-nav__item {
    margin: 0 1rem;
}

.nav-links,
.mobile-nav__item a {
    color: var(--dark-purp);
    text-decoration: none;
    font-weight: bold;
    padding: 0.2rem 0;
}

.nav-links:hover, 
.nav-links:active  {
    color: var(--hover-white);
    border-bottom: 5px solid var(--hover-white);
}

.main-nav__item--cta {
    animation: wiggle 400ms 3s 8 none;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
    color: var(--hover-white);
    background: linear-gradient(to left,#4956dd, #86108a);
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__items--cta a:hover,
.mobile-nav__items--cta a:active {
    color: var(--light-purp);
    background: var(--hover-white);
    border: none
}

/*Navbar button*/
.button {
    background: var(--light-purp);
    color: var(--hover-white);
    font: inherit;
    border: 1.5px solid var(--light-purp);
    padding: 0.5rem;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover,
.button:active {
    color: var(--hover-white);
    background: var(--dark-purp);
    border-color: var(--dark-purp);
}

.button:focus {
    outline: none;
}

/*Mobile dropdown navbar*/
.mobile-nav {
    transform: translateX(-100%);
    position: fixed;
    z-index: 101;
    top: 0;
    left: 0;
    background: var(--hover-white);
    width: 80%;
    height: 100vh;
    transition: transform 500ms ease-out;
}

.mobile-nav__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0 auto;
}

.mobile-nav__item {
    margin: 1rem 0;
}

.mobile-nav__item a {
    font-size: 1.5rem;
}

/* class to display hidden elements(javascript file)*/
.open {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/*Navbar Media Queries*/
@media (min-width: 40rem) {
    .toggle-button {
        display: none;
    }
    .main-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    .main-header {
        height: 3.5rem
    }
    .main-header__brand img {
        height: 2rem;
        margin-left: 2rem;
    }
}

/*Footer*/
.main-footer {
    background: var(--black);
    padding: 2rem 0.5rem;
    margin-top: 2rem;
    grid-area: footer;
}

.main-footer__links {
    list-style: none;
    margin:0;
    padding:0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-footer__link {
    padding: 0.5rem 0;
}

.main-footer__link a {
    color: var(--hover-white);
    text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
    color: var(--grey);
}

/*Footer media queries*/
@media (min-width: 40rem) {
    .main-footer__links {
        flex-direction: row;
        justify-content: center;
    }
    .main-footer__link {
        margin: 0 1rem;
    }
}

/*Animations*/
/*page transitions*/
@keyframes transitionIn {
    from {
        opacity: 0;
        transform: rotateX('-10deg');
    }

    to {
        opacity: 1;
        transform: rotateX(0);
    }
}

/*button wiggle*/
@keyframes wiggle {
    0% {
        transform: rotateZ(0);
    }
    50% {
        transform: rotateZ(-10deg);
    }
    100% {
        transform: rotateZ(10deg);
    }
}